.container {
    border: solid green 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.game_list {
    border: solid yellow 2px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}