<h2> Project 2 Boilerplate Home Page</h2>

<h1> Games</h1>

<form action="/games/games" method="GET">
    <label for="gameName">Search favorite games</label>
    <input type="text" name="name" id="gameName">

    <input type="submit">
</form>
