<div class="banner-pic">
<h2 style="font-size: 80px;"class=""> Welcome <%= currentUser.name %></h2>
</div>
<div class="d-flex justify-content-center"></div>
    <div class="search">
      <form class="form-search" action="/games/games" method="GET">
        <h2 class="h3 mb-3 font-weight-normal"><label for="gameName"></label></h2>
        <input class="form-control" placeholder="Search your favorite games" type="text" name="name" id="gameName">
        <input style="justify-content: center;"class="btn btn-info" type="submit">
      </div>
    </form>
  </div>
  </div>
 

